# The Python Programming Language: Functions

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [2]:
x = 1
y = 2
print(x + y)

3

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [14]:
def add_numbers(x, y, z=None):
    if(z == None):
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 6))

3
9

<br>
`add_numbers` updated to take an optional flag parameter.

In [6]:
def add_numbers(x, y, z=None, flag=False):
    if(flag):
        print('Flag is true!')
    if(z == None):
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2, flag = True))

Flag is true!
3

<br>
Assign function `add_numbers` to variable `a`.

In [9]:
def add_numbers(x,y):
    return x+y

a = add_numbers
print(a(1,2))

3

In [8]:
def do_math(a, b, kind='subtract'):
    if (kind=='add'):
        return a+b
    else:
        return a-b

print(do_math(1, 2))
print(do_math(1, 2, 'add'))

-1
3

<br>
# The Python Programming Language: Types and Sequences

<br>
Use `type` to return the object's type.

In [10]:
type('This is a string')

str

In [11]:
type(None)

NoneType

In [12]:
type(1)

int

In [13]:
type(1.0)

float

In [15]:
type(add_numbers)

function

<br>
Tuples are an immutable data structure (cannot be altered).

In [16]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br>
Lists are a mutable data structure.

In [17]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Use `append` to append an object to a list.

In [18]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

<br>
This is an example of how to loop through each item in the list.

In [20]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Or using the indexing operator:

In [21]:
i = 0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

<br>
Use `+` to concatenate lists.

In [22]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [23]:
[1] * 3

[1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [25]:
print(1 in [1,2,3])
print(9 in [1,2,3])

True
False

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [27]:
x = 'This is a string'
print(x[0])   # First character
print(x[0:1]) # First character, but we have explicitly set the end character
print(x[0:2]) # First two characters

T
T
Th

<br>
This will return the last element of the string.

In [28]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [29]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the third element.

In [30]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 4th element of the string and going all the way to the end.

In [31]:
x[3:]

's is a string'

In [37]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [36]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

<br>
Make sure you convert objects to strings before concatenating.

In [33]:
'Chris' + 2

TypeError: must be str, not int

In [34]:
'Chris' + str(2)

'Chris2'

<br>
Dictionaries associate keys with values.

In [38]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'bill@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [39]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

<br>
Iterate over all of the keys:

In [40]:
for name in x:
    print(x[name])

brooksch@umich.edu
bill@microsoft.com
None

<br>
Iterate over all of the values:

In [41]:
for email in x.values():
    print(email)

brooksch@umich.edu
bill@microsoft.com
None

<br>
Iterate over all of the items in the list:

In [42]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
bill@microsoft.com
Kevyn Collins-Thompson
None

<br>
You can unpack a sequence into different variables:

In [43]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [45]:
print(fname)
print(lname)
print(email)

Christopher
Brooks
brooksch@umich.edu

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [46]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

<br>
# The Python Programming Language: More on Strings

In [47]:
print('Chris' + 2)

TypeError: must be str, not int

In [48]:
print('Chris' + str(2))

Chris2

<br>
Python has a built in method for convenient string formatting.

In [49]:
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'
}
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

<br>
# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [21]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [22]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [23]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

<br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [26]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [27]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [28]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [35]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
print(CtyMpgByCyl)

[('4', 21.012345679012345), ('5', 20.5), ('6', 16.21518987341772), ('8', 12.571428571428571)]

<br>
Use `set` to return the unique values for the class types in our dataset.

In [32]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [36]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the vehicle class type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
print(HwyMpgByClass)

[('pickup', 16.87878787878788), ('suv', 18.129032258064516), ('minivan', 22.363636363636363), ('2seater', 24.8), ('midsize', 27.29268292682927), ('subcompact', 28.142857142857142), ('compact', 28.29787234042553)]

<br>
# The Python Programming Language: Dates and Times

In [11]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch.

In [12]:
tm.time()

1527078168.40

<br>
Convert the timestamp to datetime.

In [13]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 5, 23, 17, 54, 4, 197243)

<br>
Handy datetime attributes:

In [14]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2018, 5, 23, 17, 54, 4)

<br>
`timedelta` is a duration expressing the difference between two dates.

In [15]:
delta = dt.timedelta(days = 100)   # create a timedelta of 100 days
delta

datetime.timedelta(100)

<br>
`date.today` returns the current local date.

In [17]:
today = dt.date.today()
print(today)

2018-05-23

In [18]:
print(today - delta) # the date 100 days ago

2018-02-12

In [19]:
print(today > today - delta)   # compares date

True

<br>
# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [40]:
class Person:
    department = 'School of Information'  # a class variable
    
    def set_name(self, new_name):  # a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [41]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

<br>
Here's an example of mapping the `min` function between two lists.

In [42]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
print(cheapest)

<map object at 0x0000026A3EF44668>

<br>
Now let's iterate through the map object to see the values.

In [43]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [44]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

<br>
# The Python Programming Language: Lambda and List Comprehensions

In [45]:
my_function = lambda a, b, c : a + b

In [46]:
my_function(1, 2, 3)

3

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [47]:
my_list = []
for number in range(0 ,1000):
    if number % 2 == 0:
        my_list.append(number)
        
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

<br>
Now the same thing but with list comprehension.

In [48]:
my_list = [number for number in range(0, 1000) if number % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [50]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [51]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [52]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']

<br>
# The Python Programming Language: Numerical Python (NumPy)

In [1]:
import numpy as np

<br>
## Creating Arrays

Create a list and convert it to a numpy array

In [2]:
mylist = [1, 2, 3]
x = np.array(mylist)
print(x)

[1 2 3]

<br>
Or just pass in a list directly

In [3]:
y = np.array([4, 5, 6])
print(y)

[4 5 6]

<br>
Pass in a list of lists to create a multidimensional array.

In [4]:
m = np.array([[7, 8, 9], [10, 11, 12]])
print(m)

[[ 7  8  9]
 [10 11 12]]

<br>
Use the shape method to find the dimensions of the array. (rows, columns)

In [5]:
print(m.shape)

(2, 3)

<br>
`arange` returns evenly spaced values within a given interval.

In [6]:
n = np.arange(0, 30, 2)
print(n)

[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28]

<br>
`reshape` returns an array with the same data with a new shape.

In [7]:
n = n.reshape(3, 5) # reshape array to be 3x5
print(n)

[[ 0  2  4  6  8]
 [10 12 14 16 18]
 [20 22 24 26 28]]

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [8]:
o = np.linspace(0, 4, 9)   
print(o)

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4. ]

<br>
`resize` changes the shape and size of array in-place.

In [9]:
o.resize(3, 3)
print(o)

[[0.  0.5 1. ]
 [1.5 2.  2.5]
 [3.  3.5 4. ]]

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [10]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [11]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [12]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

br>
`diag` extracts a diagonal or constructs a diagonal array.

In [13]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

<br>
Create an array using repeating list (or see `np.tile`)

In [14]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

<br>
Repeat elements of an array using `repeat`.

In [15]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

<br>
#### Combining Arrays

In [16]:
p = np.ones([2, 3], int)
print(p)

[[1 1 1]
 [1 1 1]]

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [17]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [18]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

<br>
## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [19]:
print(x + y)  # element wise addition
print(x - y)  # element wise subtraction

[5 7 9]
[-3 -3 -3]

In [20]:
print(x * y)  # element wise multiplication
print(x / y)  # element wise division

[ 4 10 18]
[0.25 0.4  0.5 ]

In [21]:
print(x**2)  # element wise power

[1 4 9]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [23]:
print(x.dot(y))

32

In [24]:
z = np.array([y, y**2])
print(len(z))   # number of rows of array

2

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [25]:
z = np.array([y, y**2])
print(z)

[[ 4  5  6]
 [16 25 36]]

<br>
The shape of array `z` is `(2,3)` before transposing.

In [27]:
print(z.shape)

(2, 3)

<br>
Use `.T` to get the transpose.

In [28]:
print(z.T)

[[ 4 16]
 [ 5 25]
 [ 6 36]]

<br>
The number of rows has swapped with the number of columns.

In [30]:
print(z.T.shape)

(3, 2)

<br>
Use `.dtype` to see the data type of the elements in the array.

In [31]:
print(z.dtype)

int32

<br>
Use `.astype` to cast to a specific type.

In [32]:
z = z.astype('f')
print(z.dtype)

float32

<br>
## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [34]:
a = np.array([-4, -2, 1, 3, 5])

In [36]:
print(a.sum())

3

In [37]:
print(a.max())

5

In [38]:
print(a.min())

-4

In [39]:
print(a.mean())

0.6

In [40]:
print(a.std())

3.2619012860600183

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [41]:
print(a.argmax())

4

In [42]:
print(a.argmin())

0

<br>
## Indexing / Slicing

In [43]:
s = np.arange(13)**2
print(s)

[  0   1   4   9  16  25  36  49  64  81 100 121 144]

<br>
Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [44]:
print(s[0], s[4], s[-1])

0 16 144

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [45]:
print(s[1:5])

[ 1  4  9 16]

<br>
Use negatives to count from the back.

In [47]:
print(s[-4:])

[ 81 100 121 144]

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [49]:
print(s[-5::-2])

[64 36 16  4  0]

<br>
Let's look at a multidimensional array.

In [50]:
r = np.arange(36)
r.resize((6, 6))
print(r)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 31 32 33 34 35]]

<br>
Use bracket notation to slice: `array[row, column]`

In [51]:
print(r[2, 2])

14

<br>
And use : to select a range of rows or columns

In [53]:
print(r[3, 3:6])

[21 22 23]

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [54]:
print(r[:2, :-1])

[[ 0  1  2  3  4]
 [ 6  7  8  9 10]]

<br>
This is a slice of the last row, and only every other element.

In [55]:
print(r[-1, ::2])

[30 32 34]

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [56]:
print(r[r>30])

[31 32 33 34 35]

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [57]:
r[r>30] = 30
print(r)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

<br>
## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [58]:
r2 = r[:3, :3]

In [59]:
print(r2)

[[ 0  1  2]
 [ 6  7  8]
 [12 13 14]]

<br>
Set this slice's values to zero ([:] selects the entire array)

In [60]:
r2[:] = 0
print(r2)

[[0 0 0]
 [0 0 0]
 [0 0 0]]

<br>
`r` has also been changed!

In [61]:
print(r)

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

<br>
To avoid this, use `r.copy` to create a copy that will not affect the original array

In [62]:
r_copy = r.copy()
print(r_copy)

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

<br>
Now when r_copy is modified, r will not be changed.

In [65]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

<br>
### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [72]:
test = np.random.randint(0, 14, (4,3))
print(test)

[[11 11  2]
 [12 10  4]
 [12  8  8]
 [ 2  3  8]]

<br>
Iterate by row:

In [73]:
for row in test:
    print(row)

[11 11  2]
[12 10  4]
[12  8  8]
[2 3 8]

<br>
Iterate by index:

In [74]:
for i in range(len(test)):
    print(test[i])

[11 11  2]
[12 10  4]
[12  8  8]
[2 3 8]

<br>
Iterate by row and index:

In [75]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [11 11  2]
row 1 is [12 10  4]
row 2 is [12  8  8]
row 3 is [2 3 8]

<br>
Use `zip` to iterate over multiple iterables.

In [76]:
test2 = test**2
print(test2)

[[121 121   4]
 [144 100  16]
 [144  64  64]
 [  4   9  64]]

In [77]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[11 11  2] + [121 121   4] = [132 132   6]
[12 10  4] + [144 100  16] = [156 110  20]
[12  8  8] + [144  64  64] = [156  72  72]
[2 3 8] + [ 4  9 64] = [ 6 12 72]

In [3]:
print(['a', 'b', 'c'] + [1, 2, 3])

['a', 'b', 'c', 1, 2, 3]

In [4]:
print(type(lambda x: x+1))

<class 'function'>